___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
df = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
df['BasePay'].mean()

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
df.set_index('EmployeeName').loc['JOSEPH DRISCOLL']['JobTitle']

'CAPTAIN, FIRE SUPPRESSION'

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'].sum()

270324.91

** What is the name of highest paid person (including benefits)?**

In [10]:
df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [51]:
df.iloc[df['TotalPayBenefits'].argmin()].loc['EmployeeName']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmin' is deprecated, use 'idxmin'
instead.
The behavior of 'argmin' will be corrected to return the positional
minimum in the future. For now, use 'series.values.argmin' or
'np.argmin(np.array(values))' to get the position of the minimum
row.
  """Entry point for launching an IPython kernel.

'Joe Lopez'

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [17]:
new =df[(df['Year']>=2011) & (df['Year']<=2014)]
new2 = new.groupby('Year')
new2.mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [32]:
df['JobTitle'].unique()
new = pd.DataFrame(df['JobTitle'].unique())
new.shape[0]
# can use nunique

2159

** What are the top 5 most common jobs? **

In [37]:
df.groupby('JobTitle').count().sort_values('Id', ascending = False).head()

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
Transit Operator,7036,7036,6975,7036,7036,7036,7036,7036,7036,0,7036,0
Special Nurse,4389,4389,4382,4389,4389,4389,4389,4389,4389,0,4389,0
Registered Nurse,3736,3736,3725,3736,3736,3736,3736,3736,3736,0,3736,0
Public Svc Aide-Public Works,2518,2518,2514,2518,2518,2518,2518,2518,2518,0,2518,0
Police Officer 3,2421,2421,2411,2421,2421,2421,2421,2421,2421,0,2421,0

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [61]:
f1 = df[df['Year']==2013]
f1.groupby('EmployeeName').count().sort_values('JobTitle', ascending = False)

,Id,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
EmployeeName,,,,,,,,,,,,
Kevin Lee,5,5,5,5,5,5,5,5,5,0,5,0
Steven Lee,5,5,5,5,5,5,5,5,5,0,5,0
William Wong,4,4,4,4,4,4,4,4,4,0,4,0
Victor Lee,4,4,4,4,4,4,4,4,4,0,4,0
Michael A Johnson,4,4,4,4,4,4,4,4,4,0,4,0
Jamil J Hawkins,3,3,3,3,3,3,3,3,3,0,3,0
Krisztina Emodi,3,3,3,3,3,3,3,3,3,0,3,0
Gregory J Gieseker,3,3,3,3,3,3,3,3,3,0,3,0
Pamela A Axelson,3,3,3,3,3,3,3,3,3,0,3,0
Kenneth Lee,3,3,3,3,3,3,3,3,3,0,3,0
Maria Lesa R Busine,3,3,3,3,3,3,3,3,3,0,3,0
Cynthia J Anderson,3,3,3,3,3,3,3,3,3,0,3,0
Georgia H Chourre,3,3,3,3,3,3,3,3,3,0,3,0
Sherri L Barnes,3,3,3,3,3,3,3,3,3,0,3,0
Maryann B Sabath,3,3,3,3,3,3,3,3,3,0,3,0
Edgardo S Estares,3,3,3,3,3,3,3,3,3,0,3,0
Pierre F Palaad,3,3,3,3,3,3,3,3,3,0,3,0
Elisa S Ramirez,3,3,3,3,3,3,3,3,3,0,3,0
Ying F He,3,3,3,3,3,3,3,3,3,0,3,0
Sandy Wong,3,3,3,3,3,3,3,3,3,0,3,0
Corinna A Neustaetter,3,3,3,3,3,3,3,3,3,0,3,0
Emelita M Hathaway,3,3,3,3,3,3,3,3,3,0,3,0
Susan Wong,3,3,3,3,3,3,3,3,3,0,3,0
John Chan,3,3,3,3,3,3,3,3,3,0,3,0
Nadine Khoury,3,3,3,3,3,3,3,3,3,0,3,0
David H Staconis,3,3,3,3,3,3,3,3,3,0,3,0
Marie T Watson-Grosskopf,3,3,3,3,3,3,3,3,3,0,3,0
Douglas R Price-Hanson,3,3,3,3,3,3,3,3,3,0,3,0
Amelie E Bullard,3,3,3,3,3,3,3,3,3,0,3,0
Daniel W McGuire,3,3,3,3,3,3,3,3,3,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Gurshamsher S Bhuller,1,1,1,1,1,1,1,1,1,0,1,0
Gurkiran K Hansrai,1,1,1,1,1,1,1,1,1,0,1,0
Guozhen J Li,1,1,1,1,1,1,1,1,1,0,1,0
Guofu Li,1,1,1,1,1,1,1,1,1,0,1,0
Guodong Li,1,1,1,1,1,1,1,1,1,0,1,0
Guo Tao Deng,1,1,1,1,1,1,1,1,1,0,1,0
Guo Sheng Wei,1,1,1,1,1,1,1,1,1,0,1,0
Guo Shen Tan,1,1,1,1,1,1,1,1,1,0,1,0
Guo Rong Li,1,1,1,1,1,1,1,1,1,0,1,0
Guo Qing Peng,1,1,1,1,1,1,1,1,1,0,1,0
Guo Q Gao,1,1,1,1,1,1,1,1,1,0,1,0
Guo Kun Fang,1,1,1,1,1,1,1,1,1,0,1,0
Guo J Huang,1,1,1,1,1,1,1,1,1,0,1,0
Gulshod A Tashmukhamedova,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo A Sanchez,1,1,1,1,1,1,1,1,1,0,1,0
Gulshan Khan,1,1,1,1,1,1,1,1,1,0,1,0
Guiqin Q Zhang,1,1,1,1,1,1,1,1,1,0,1,0
GuillermoA Leiva,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo V Hurtado,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo R Casillas,1,1,0,1,1,1,1,1,1,0,1,0
Guillermo N Olimpiada,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo J Tapia,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo J Fernandez,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo J Castillo Salgado,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo E Sandoval,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo E Perez Jr,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo E Parinas Jr,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo A Zuniga,1,1,1,1,1,1,1,1,1,0,1,0
Guillermo A Toruno,1,1,1,1,1,1,1,1,1,0,1,0
Zuri Jones,1,1,1,1,1,1,1,1,1,0,1,0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [63]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [66]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [67]:
df['title_len'] = df['JobTitle'].apply(len)

In [69]:
df[['JobTitle','title_len']].corr()

           title_len
title_len        1.0

# Great Job!